footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    p{
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
    }
}